In [8]:
import pandas as pd

# https://portal.gdc.cancer.gov/
# tar -xvzf C:\Users\Ameno\Downloads\clinical.cases_selection.2022-03-29.tar.gz -C C:\Users\Ameno\Downloads\HNSC_clinical

In [9]:
# df = pd.read_csv('sample_metadata.txt', delimiter = "\t")
g = pd.read_csv('Data/HNSC/tcga_scaled01_rnaseq.tsv', delimiter = "\t", index_col=0)
# b.head()
# b.head()
# df.head()
# list(df.columns)

In [22]:
g_snf = pd.read_csv("Data\COAD\COLON_Gene_Expression.txt", delimiter = "\t", index_col=0).T
print(g_snf.head(2))
print(g.head(2))

                                 TRHDE     RPE65     OR4N5    TRIM60  \
                             -0.042882  0.583696  0.369836  0.985446
TCGA-A6-2670-01A-02R-0821-07 -0.231989 -1.779292  0.913945 -0.452253

                                 LRIT2    ZNF677  C1orf129  MGC32805  \
                             -1.578451 -0.503370  0.112099  0.818456
TCGA-A6-2670-01A-02R-0821-07 -0.049176 -1.234968 -0.988846 -1.521509

                                  HBG2   TMEM163  ...    FBXO10  \
                             -1.049611 -0.304902  ... -0.147438
TCGA-A6-2670-01A-02R-0821-07  0.511784 -0.062709  ...  0.390474

                              RP11-218C14.6    TEX261     OBFC1    CHRDL2  \
                                  -0.845946  2.100277 -0.304646  1.097201
TCGA-A6-2670-01A-02R-0821-07       0.125562 -0.587602 -0.309476 -0.420616

                              ATP6V1G3    HOTAIR     ALG10    KCNMB4       TK2
                              0.802950 -0.513098  0.085296  0.779454 -0.792611
TCGA-A6-2670-01A-02R-0821-07 -2.019163 -0.769296 -0.098677 -1.666063  0.527340

[2 rows x 17814 columns]
                   RPS4Y1      XIST      KRT5  AGR2  CEACAM5     KRT6A  \
name
TCGA-02-0047-01  0.678296  0.289910  0.034230   0.0      0.0  0.084731
TCGA-02-0055-01  0.200633  0.654917  0.181993   0.0      0.0  0.100606

                    KRT14   CEACAM6     DDX3Y     KDM5D  ...   FAM129A  \
name                                                     ...
TCGA-02-0047-01  0.031863  0.037709  0.746797  0.687833  ...  0.440610
TCGA-02-0055-01  0.050011  0.092586  0.103725  0.140642  ...  0.620658

                  C8orf48    CDK5R1    FAM81A  C13orf18     GDPD3     SMAGP  \
name
TCGA-02-0047-01  0.428782  0.732819  0.634340  0.580662  0.294313  0.458134
TCGA-02-0055-01  0.363207  0.592269  0.602755  0.610192  0.374569  0.722420

                  C2orf85   POU5F1B     CHST2
name
TCGA-02-0047-01  0.478219  0.168263  0.638497
TCGA-02-0055-01  0.271356  0.160465  0.602560

[2 rows x 5000 columns]

In [27]:
# cancer = "COAD"

# has the most normal samples 
cancer = "STAD"
# cancer = "HNSC"
# cancer = "ESCA"
# cancer = "READ"

b = pd.read_csv(f'Data/{cancer}/Microbial/bacteria.sample.relabund.phylum.txt', delimiter = "\t", index_col=0).T

In [56]:
g.head()
# b.head()

g.iloc[:,3]
g_samples = list(g.index.values)
b_samples = list(b.index.values)
set(g_samples).intersection(b_samples)
b_samples
# print(g.columns)
# print(g.describe())

find = "TCGA-CR-6491"
# find = "TCGA-CV-7090"

# TCGA-ZX-AA5X-01 does not occur, and has duplicates. Not true, it has it. It just doesn't have some of the elevens ( other elevens it does ), and take care of the b ones

# HNSC 

def findOverlap(a_samples, b_samples, ignoreVial=False):
    overlapping_count = 0
    normal_overlapping_count = 0
    missing = []
    control_count = 0
    for find in a_samples:
        occurrences = 0
        for s in b_samples:
            if ignoreVial and find[-1]=="A":
                find = find[:-1]
            if find in s:
                occurrences+=1
        if occurrences<1:
            # print(find, " does not have any occurrences")
            missing.append(find)
        else:
            overlapping_count += 1
        if ((ignoreVial and find[-2] == "1") or (not ignoreVial and find[-3] == "1")):
            control_count += 1
            if occurrences > 0:
                normal_overlapping_count += 1
    print("no occurrences:", missing)
    print("overlapping count: ", overlapping_count, "/", len(a_samples))
    print("normal count: ", control_count, "/", len(a_samples))
    print("normal overlapping count: ", normal_overlapping_count, "/", control_count)
findOverlap(b_samples, g_samples, ignoreVial=True)
l1=[]
for i in b:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')


# tumor normal and control 
import re
for s in g_samples:
    if "4183" in s:
    # if re.search(r"[1].$",s):
    # if "-21" in s:
        
        print(s)

no occurrences: ['TCGA-BR-4188-11', 'TCGA-BR-4280-11', 'TCGA-BR-4369-11', 'TCGA-CG-5728-01', 'TCGA-CG-5726-11', 'TCGA-BR-4267-11', 'TCGA-BR-4256-11', 'TCGA-BR-4184-01', 'TCGA-BR-4187-11', 'TCGA-BR-6710-01', 'TCGA-BR-4363-11', 'TCGA-BR-4366-11', 'TCGA-CG-5725-11', 'TCGA-CG-4455-01', 'TCGA-CG-5730-01', 'TCGA-BR-4292-11', 'TCGA-CG-5723-11', 'TCGA-CG-5727-11', 'TCGA-CG-5727-01', 'TCGA-BR-4367-11', 'TCGA-BR-4255-11', 'TCGA-BR-4191-11', 'TCGA-BR-4184-11', 'TCGA-BR-4253-11', 'TCGA-BR-4183-01', 'TCGA-CG-5733-01', 'TCGA-BR-4370-11', 'TCGA-CG-5724-11', 'TCGA-BR-4357-11', 'TCGA-D7-5579-01', 'TCGA-HU-A4H0-11', 'TCGA-CG-4300-01', 'TCGA-BR-4294-11', 'TCGA-CD-5802-01', 'TCGA-BR-4201-11', 'TCGA-BR-4368-11', 'TCGA-BR-4279-11', 'TCGA-BR-4188-01', 'TCGA-EQ-5647-01', 'TCGA-F1-6875-11', 'TCGA-HU-8245-01', 'TCGA-CG-5732-11', 'TCGA-BR-4257-11', 'TCGA-BR-4183-11']
overlapping count:  122 / 166
normal count:  39 / 166
normal overlapping count:  9 / 39

In [57]:
xe_rna_stad_samples = pd.read_csv(r"Data\STAD\xenos_rnaseq_samples.txt", names=["sample"], header=None)
xe_rna_stad_samples.head(2)
findOverlap(b_samples, xe_rna_stad_samples["sample"].tolist())

no occurrences: ['TCGA-CG-4474-01A', 'TCGA-BR-4188-11A', 'TCGA-BR-4280-11A', 'TCGA-BR-4369-11A', 'TCGA-CG-5728-01A', 'TCGA-CG-5726-11A', 'TCGA-BR-4267-11A', 'TCGA-BR-4292-01A', 'TCGA-BR-4256-11A', 'TCGA-BR-4184-01A', 'TCGA-BR-4187-11A', 'TCGA-HU-A4G6-01A', 'TCGA-D7-6518-01A', 'TCGA-CG-4472-01A', 'TCGA-BR-4363-11A', 'TCGA-BR-4366-11A', 'TCGA-CG-5725-11A', 'TCGA-CG-4455-01A', 'TCGA-CG-5730-01A', 'TCGA-BR-4292-11A', 'TCGA-CG-5723-11A', 'TCGA-CG-5727-11A', 'TCGA-CG-5727-01A', 'TCGA-BR-4367-11A', 'TCGA-BR-4255-11A', 'TCGA-BR-4191-11A', 'TCGA-BR-4184-11A', 'TCGA-BR-4253-11A', 'TCGA-BR-4183-01A', 'TCGA-D7-6820-01A', 'TCGA-CG-5733-01A', 'TCGA-BR-4370-11A', 'TCGA-CG-5724-11A', 'TCGA-CG-4449-01A', 'TCGA-BR-6706-01A', 'TCGA-BR-4357-11A', 'TCGA-D7-5579-01A', 'TCGA-HU-A4H0-11A', 'TCGA-CG-4300-01A', 'TCGA-BR-4294-11A', 'TCGA-CD-5802-01A', 'TCGA-BR-4201-11A', 'TCGA-BR-4368-11A', 'TCGA-BR-4279-11A', 'TCGA-BR-4188-01A', 'TCGA-EQ-5647-01A', 'TCGA-F1-6875-11A', 'TCGA-B7-5816-01A', 'TCGA-HU-8245-01A', 'TCGA-HF-7136-01A', 'TCGA-CG-5732-11A', 'TCGA-BR-4257-11A', 'TCGA-D7-6817-01A', 'TCGA-BR-4255-01A', 'TCGA-BR-4183-11A']
overlapping count:  111 / 166
normal count:  39 / 166
normal overlapping count:  9 / 39

In [14]:
g2 = pd.read_csv('Data\pancan_scaled_rnaseq.tsv\pancan_scaled_rnaseq.tsv', delimiter = "\t", index_col=0)

In [18]:
g2_samples = list(g2.index.values)
# len(g_samples)
same = set(g2_samples).intersection(g_samples)
len(same)

10459

In [12]:
# g.rename(columns={0:"name"}, inplace=True)
g.index.name = "name"
print(g.head(2))
b.index
b.head(2)

                   RPS4Y1      XIST      KRT5  AGR2  CEACAM5     KRT6A  \
name
TCGA-02-0047-01  0.678296  0.289910  0.034230   0.0      0.0  0.084731
TCGA-02-0055-01  0.200633  0.654917  0.181993   0.0      0.0  0.100606

                    KRT14   CEACAM6     DDX3Y     KDM5D  ...   FAM129A  \
name                                                     ...
TCGA-02-0047-01  0.031863  0.037709  0.746797  0.687833  ...  0.440610
TCGA-02-0055-01  0.050011  0.092586  0.103725  0.140642  ...  0.620658

                  C8orf48    CDK5R1    FAM81A  C13orf18     GDPD3     SMAGP  \
name
TCGA-02-0047-01  0.428782  0.732819  0.634340  0.580662  0.294313  0.458134
TCGA-02-0055-01  0.363207  0.592269  0.602755  0.610192  0.374569  0.722420

                  C2orf85   POU5F1B     CHST2
name
TCGA-02-0047-01  0.478219  0.168263  0.638497
TCGA-02-0055-01  0.271356  0.160465  0.602560

[2 rows x 5000 columns]

name,Bacteroidetes,Proteobacteria,Firmicutes,Fusobacteria,Verrucomicrobia,Chloroflexi,Thermotogae,Actinobacteria,Spirochaetes,Synergistetes,Tenericutes
TCGA-AG-3999-01A,0.647603,0.000000,0.067323,0.276764,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TCGA-AG-A01L-01A,0.579041,0.234426,0.160304,0.013424,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
b.rename(index= lambda s: s[:-1] if s[-1]=="A"else s, inplace=True)
multi = b.join(g, how="inner")
# multi.loc["TCGA-CV-5970-11"]
multi.index.name = "patient"
# multi["patient"]
# multi["tumor"] = multi.apply(lambda row: 1 if re.search(r"[0].$",row.name) else 0)
multi["tumor"] = multi.apply(lambda row: 1 if re.search(r"[0].$",row.name) else 0, axis=1)
# multi.apply(lambda row: print(row.name))
multi.to_csv(f"Data/{cancer}/gene_biome_{cancer}.csv")
# pd.merge(b, g, how="inner", left_on="name")
# g.merge(b, how="inner", on="name")